 #navbarNav {
  border-top: 1px solid $color-primary;
  border-bottom: 1px solid $color-primary
 }

.main-logo {
  display: flex;
  height: 50px;
  margin-top: 30px;
}
.navbar-centered {
  position: absolute !important;
  width: 100% !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.navbar-transparent {
  background-color: transparent !important;
  position: absolute;
}

.navbar-container {
  position: relative;
}

.navbar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
  z-index: 1000;

  .centered-list {
    display: flex;
    align-items: center;
  }

  .navbar-nav .nav-link-color {
    color: $color-primary;
    text-shadow: 1px 1px 2px rgb(22, 22, 22), 0 0 1em rgb(255, 255, 255),
    0 0 0.2em rgb(75, 75, 109);
    cursor: pointer;
  }
  
}