  .container-img__routes {
    width: 100%;
    height: 930px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.1)),
      url(../assets/images/backgroundImages/calafate.jpg);
    background-size: cover;
    background-position: center;
  
    .banner-text__home {
      text-align: left;
      width: 80%;
      height: 30%;

      & h1 {
        color: $color-text-primary;
        font-size: 5.5em;
        text-shadow: 1px 1px 2px rgb(22, 22, 22), 0 0 1em rgb(255, 255, 255),
          0 0 0.2em rgb(75, 75, 109);
      }
      & p {
        color: $color-text-primary;
        font-size: 3em;
        text-shadow: 1px 1px 2px rgb(22, 22, 22), 0 0 1em rgb(255, 255, 255),
          0 0 0.2em rgb(75, 75, 109);
      }
    
      & .btn-effect {
        @include btn-effect();
    
        &:hover {
          @include btn-effect__hover();
        }
      }
    }
  }


.head-routes {
  max-width: 100%;
  position: relative;
  overflow: hidden;

  video {
    max-width: 100%;
    margin-bottom: -6px;
  }

  .media-title {
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px !important;
    color: $color-text-primary;
    text-shadow: 1px 1px 2px rgb(22, 22, 22), 0 0 1em rgb(255, 255, 255),
    0 0 0.2em rgba(135, 135, 151, 0.445);
    background-color: rgba(49, 45, 45, 0.199);
    padding: 10px;

    & h1 {
      color: $color-text-primary;
      font-size: 4vw;
    }

    & p{
      color: $color-text-primary;
      font-size: 2vw;

    }
  }

  .overlay-video {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(156, 138, 138, 0.329);
  }
}
.ribbon {
  width: 100%; 
  background-color: $color-primary-dark; 
  color: $color-text-primary; 
  padding: 50px;
  text-align: center;
  margin: auto;
}


.grid-route {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "img1 img2"
      "img3 img2";
    padding: 2rem;
    gap: 1rem;
  
    .grid-item {
      border-radius: 1rem;
      background-size: cover;
      background-position: center center;
      padding: 1.5rem;
      text-align: end;
  
      &.grid-img1 {
        grid-area: img1;
        background-image: url(../../assets/images/aboutMe/collage/img_4.JPG);
      }
      
      &.grid-img2 {
        grid-area: img2;
        background-image: url(../../assets/images/aboutMe/collage/img_3.JPG);
        height: 22.5rem;
      }
      
      &.grid-img3 {
        grid-area: img3;
        background-image: url(../../assets/images/aboutMe/collage/img_2.JPG);
      }
  
      & h2 {
        color: $color-text-primary;
        font-size: small;
      }
  
      & h3 {
        color: $color-text-primary;
        font-size: small;
      }
    }
  }



