@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=DM+Sans:wght@400;700&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=DM+Sans:wght@400;700&family=Lilita+One&display=swap');


// ***fonts****

$fontDmSans: "DM Sans", sans-serif;
$lilitaFont:  'Caprasimo';
$textBanner: 'Lilita One', cursive;


//**** colors****
$color-primary: #FDFFFC;
$color-primary-dark: #235789;
$color-secondary-light: rgba(255, 255, 255, 0.5);
$color-text-primary: #020100;
$color-text-secondary: #d69191;
$color-bg-footer: #1a1a1b;
$color-text-navbar: #C1292E;
$color-text-banner: #5cdcd4;
$color-shadow-background: hsla(120, 4%, 18%, 0.7);

//**** images ****



// boton effect

@mixin btn-effect() {
  background-color: $color-bg-footer;
  color: $color-text-secondary;
  border: 1px solid $color-text-secondary;
  border-radius: 50px;
  margin-top: 15px;
  padding: 5px 20px;
  text-decoration: none;
  cursor: pointer;

}

// btn-effect hover

@mixin btn-effect__hover(){
  color: $color-primary;
  transform: scale(1.2);
  transition: all 0.5s linear;
}

